<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>SortBook</title>
</head>

<body>
<h2>BookStore</h2>
<div>
    <table>
        <thead>
        <tr>
            <th>|   Title   |</th>
            <th>|  Release year  |</th>
            <th>|  Count page  |</th>
            <th>|     Price       |</th>
            <th>|  Stock Balance    |</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="book: ${bookSort}">
            <td><span th:text="${book.getTitle()}"></span></td>
            <td><span th:text="${book.getYearOfRelease()}"></span></td>
            <td><span th:text="${book.getCountPage()}"></span></td>
            <td><span th:text="${book.getPrice()}"></span></td>
            <td><span th:text="${book.getStockBalance()}"></span></td>
        </tr>
        </tbody>
    </table>
</div>

</body>

</html>